<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sitio de Films</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'films/css/estilos.css' %}">
  </head>
  <body>
    <div class="titulo">
      <h1>Sitio de Films</h1>
    </div>

    <div class="columnas">
      <div class="columna-izquierda">
        <h2>Opciones</h2>
        <ul>
          <li>
            <a href="{%url 'verPelis' %}">Ver peliculas</a>
          </li>
          <li>
            <a href="{%url 'verVotar' %}">Votar</a>
          </li>
          <li>
            <a href="{%url 'aficionados' %}">Aficionados</a>
          </li>
        </ul>
        <div class="logout">
          <a href="{%url 'logout' %}">CERRAR SESION</a>
        </div>
      </div>
      <div class="columna-derecha">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
