{% extends 'films/index.html' %} {% block content %}
<h1>Menu</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Director</th>
      <th>Año</th>
      <th>Género</th>
      <th>Sinopsis</th>
      <th>Votos</th>
    </tr>
  </thead>
  <tbody>
    {% for objeto in objetos_por_pagina %}
    <tr>
      <td>{{ objeto.izenburua }}</td>
      <td>{{ objeto.zuzendaria }}</td>
      <td>{{ objeto.urtea }}</td>
      <td>{{ objeto.generoa }}</td>
      <td>{{ objeto.sinopsia }}</td>
      <td>{{ objeto.bozkak }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if objetos_por_pagina.has_previous %}
    <a href="?page={{ objetos_por_pagina.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ objetos_por_pagina.number }} of {{ objetos_por_pagina.paginator.num_pages }}.
    </span>

    {% if objetos_por_pagina.has_next %}
    <a href="?page={{ objetos_por_pagina.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endblock %}
