body {
    background-color: #ffffff;
    color: #212121;
    font-family: "Roboto", sans-serif;
}

.titulo {
    color: #1d2152;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

h2 {
    color: #1d2152;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 24px;
}

ul {
    margin-left: 20px;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

li a {
    color: #1d2152;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    padding-left: 0;
}

li a:hover {
    border-bottom: 2px solid #ec8107;
    padding-left: 2px;
}

.columnas {
    display: flex;
    flex-direction: row;
}

.columna-izquierda {
    flex: 1;
    border-right: 1px solid #ddd;
    padding-right: 5px;
}

.columna-derecha {
    flex: 4;
    padding-left: 60px;
}

.columnas::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    margin-right: 20px;
}

.btn {
    background-color: #1d2152;
    border-color: #1d2152;
    color: #fff;
    padding: 10px 30px;
    height: 3em;
    width: 9.5em;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease;
}

.btn:hover {
    border: 2px solid #ec8107;
}

.btn:active {
    background-color: #ec8107;
    border-color: #ec8107;
    color: #fff;
}
